<footer id="main-footer" class="3d-style-footer">
    <div class="container">
        <p>&copy; 2025 {{ site.author }}. All rights reserved.</p>
        <div class="social-links-footer">
            <a href="{{ site.linkedin_url }}" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
            <a href="{{ site.github_url }}" target="_blank" aria-label="GitHub"><i class="fab fa-github"></i></a>
            <a href="{{ site.twitter_url }}" target="_blank" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</footer>
