<header id="main-header">
    <nav class="container">
        <h1 class="logo">C.H.</h1>
        <div class="nav-links">
            <a href="{{ site.baseurl }}/" class="nav-button {% if page.url == '/' %}active{% endif %}">Home</a>
            <a href="{{ site.baseurl }}/about/" class="nav-button {% if page.url contains 'about' %}active{% endif %}">About</a>
            <a href="{{ site.baseurl }}/projects/" class="nav-button {% if page.url contains 'projects' %}active{% endif %}">Projects</a>
            <a href="{{ site.baseurl }}/blog/" class="nav-button {% if page.url contains 'blog' %}active{% endif %}">Blog</a>
            <a href="{{ site.baseurl }}/contact/" class="nav-button {% if page.url contains 'contact' %}active{% endif %}">Contact</a>
        </div>
        <button id="theme-toggle" class="toggle-button">
            <i class="fas fa-sun"></i> 
        </button>
    </nav>
</header>
